<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>

<h1></h1>

<form action="/madlib">
  <label for="enter_person">Enter a name:</label>
  <input name="person" id="enter_person" input type="text">
  <br>
  <label for="color-select">Please select a color:</label>
  <select name="color" id="color-select">
    <option value="red">Red</option>
    <option value="yellow">Yellow</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
  </select>
  <br>
  <label for="enter_noun">Enter a noun:</label>
  <input name="noun" id="enter_noun" input type="text">
  <br>
  <label for="enter_adjective">Enter an adjective:</label>
  <input name="adjective" id="enter_adjective" input type="text">
  <input type="submit">
</form>

</body>
</html>